@font-face {
    font-family: "Sophia Pro";
    src: url('font.ttf');
}

#hero {
    margin: 0 auto;
    width: 50%;
    text-align:center;
}

.title {
    
    color: #fff;
    text-align: center;
}


.button {  
    /*position:relative;
    top:50%; 
    left:40%; */
    background-color: #5f91dc;
    border: none;
    color: #fff;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 16px;
    font-size: 1em;
}

.black {
    padding-top: 150px;
    padding-bottom: 50px;
    margin-top: -100px;
    display:block;
    color: #333333;
}

.smp {
    display:block;
    background-color: #5f91dc;
    padding-bottom: 7%
}

.display {
    display:block;
    background-color: #fff;
    padding: .1px;
    padding-bottom: 50px;
}

.testimony {
    display:block;
    background-color: #333333;
    padding: .1px;
}

.blue1 {
    margin-right: 50%;
    padding-top: 150px;
    padding-bottom: 50px;
    margin-top: -10px;
    display:block;
    color: #5f91dc;
}

.blue2 {
    margin-left: 50%;
    padding-top: 150px;
    padding-bottom: 50px;
    margin-top: -10px;
    display:block;
    color: #5f91dc;
}

.title2 {
    display: block;
    color: #fff;
    padding-top: 7%;
    padding-bottom: 7%;
}

.title3 {
    display: block;
    color: #333333;
    padding-top: 50px;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6, {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 {
    display:block;
    font-size: 3.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #333333;
}

.box1 {
    float:left;
    width:25%;
    /*margin-left: 10%;
    margin-right: 70%; */
    margin: 0px 50px;
}

.box2 {
    float:left;
    width:25%;
    /*margin-left: 10%;
    margin-right: 70%; */
    margin: 0px 50px;
}

.clear {
    clear:both;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.bp-text {
    
    margin-right: 10%;
    margin-left: 10%;
}

.center_smp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 100%;
    height: auto;
    padding-bottom: 20%
}

.center_check {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-width: 100%;
    height: auto;
    padding-bottom: 20%
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 100%;
    height: auto;
}

.center2 {
    display: block;
    margin-top: -5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 100%;
    height: auto;
}

.center3 {
    display: block;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 90%;
    max-width: 100%;
    height: auto;
}

.right {
    display: block;
    margin-left: 60%;
    width: 30%;
    max-width: 40%;
    height: auto;
    margin-top: -400px;
}

.left {
    display: block;
    margin-left: 10%;
    width: 30%;
    max-width: 40%;
    height: auto;
    margin-top: -400px;
}